.layout {
  display: flex;
  justify-content:space-around;
  font-family:"Helvetica", "Arial","LiHei Pro" rgb(34, 34, 59);
  font-weight: bold;
  list-style-type:none;
  margin-top:2em;
  }

.header {
  font-family: "Helvetica", "Arial","LiHei Pro";
  font-size: xx-large;
  text-align: center;
  line-height: 100px;
  color: rgb(74, 78, 105);
}

.small-header {
  font-family: "Helvetica", "Arial","LiHei Pro";
  font-size: x-large;
  text-align: center;
  line-height: 100px;
  color: rgb(74, 78, 105);
}

.subtitle {
  color: rgb(74, 78, 105);
  font-weight: bolder;
}

.doc-content {
  text-align: center;
  background-color: rgba(242, 233, 228);
  border: 5px rgba(154, 140, 152) solid;
  border-radius: 15px; 
  margin: auto;
  width: 55%;
}

.select {
  text-align: center;
}

.material-button {
  position: relative;
  text-align: right;
  margin-right: 436px;
  padding-bottom: 2em;
}

.latest-button {
  position: relative;
  text-align: right;
  margin-right: 305px;
  padding-top:2em;
  padding-bottom: 2em;
}

.arg-filter {
  display: flex;
  margin: auto;
  width: 45%;
  border-radius: 15px; 
  justify-content:space-evenly;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color:  rgba(242, 233, 228);
}

.button-submit {
  text-align: center;
  padding-top: 1em;
}

.button-download {
  display: flex;
  margin: auto;
  width: 70%;
  justify-content:space-evenly;
  padding-top: 2em;
  padding-bottom: 3em;
}

.article {
  margin: auto;
  width: 55%; 
}

.table {
  margin: auto;
  width: 60%; 
}

.progress {
  display: flex;
  margin: auto;
  width: 2.5%;
  padding-bottom: 2em;
}

.progress-linear {
  position: relative;
  text-align: left;
  margin-left: 436px;
}

.link {
  color: #c9ada7;
}