.layout {
  display: flex;
  justify-content:space-around;
  font-family:Arial black;
  list-style-type:none;
  margin-top:2em;
  }

.header {
  font-family: Gill Sans, sans-serif;
  font-size: xx-large;
  text-align: center;
  line-height: 100px;
  color: rgba(46, 8, 171, 0.927);
}

.doc-content {
  text-align: center;
  background-color: rgba(0, 145, 255, 0.045);
  border: 3px rgba(8, 73, 195, 0.866) solid;
  border-radius: 15px; 
  margin: auto;
  width: 65%;
  padding: 10px;
  height:120px;
}

.select {
  text-align: center;
}

.button {
  position: relative;
  text-align: right;
  margin-right: 443px;
  padding-bottom: 2em;
}

.arg-filter {
  display: flex;
  margin: auto;
  width: 50%;
  border-radius: 15px; 
  justify-content:space-evenly;
  padding-top: 1em;
  padding-bottom: 0.5em;
  background-color:  rgba(0, 145, 255, 0.045);
}

.button-submit {
  text-align: center;
  padding-top: 1em;
}
